HTTP_ADDR=:8080
DISCORD_BOT_TOKEN=
DISCORD_DEFAULT_CHANNEL_IDS=
DISCORD_DEFAULT_CHANNEL_NAMES=
PELICAN_API_URL=
PELICAN_API_TOKEN=
DOCKER_HOST=unix:///var/run/docker.sock
DOCKER_DEFAULT_DESCRIPTIVE_NAMES=
DOCKER_DEFAULT_CONTAINER_NAMES=minecraft-server,vrising-server
DOCKER_FALLBACK_GAME_TYPES=minecraft,vrising,7dtd,terraria,unturned,starbound,satisfactory,palworld,rust,projectzomboid,factorio
RCON_DEFAULT_DESCRIPTIVE_NAMES=
RCON_DEFAULT_CONTAINER_NAMES=
RCON_DEFAULT_CONTAINER_GAMES=
RCON_DEFAULT_CONTAINER_TRANSPORTS=rcon,telnet,docker
RCON_DEFAULT_CONTAINER_ADDRESSES=
RCON_DEFAULT_CONTAINER_PASSWORDS=
