HTTP_ADDR=:8080
DISCORD_BOT_TOKEN=
DISCORD_DEFAULT_CHANNEL_IDS=
DISCORD_INGEST_CHANNEL_IDS=
RCON_INGEST_CONTAINER_NAMES=
DISCORD_BRIDGE_FILTERED_PHRASES=
PELICAN_API_URL=
PELICAN_API_TOKEN=
PELICAN_LOG_API_OUTPUT=
DOCKER_HOST=unix:///var/run/docker.sock
DOCKER_DEFAULT_CONTAINER_NAMES=minecraft-server,vrising-server
DOCKER_FALLBACK_GAME_TYPES=minecraft,vrising,7dtd,terraria,unturned,starbound,satisfactory,palworld,rust,projectzomboid,factorio
RCON_DEFAULT_CONTAINER_NAMES=
RCON_DEFAULT_CONTAINER_TRANSPORTS=rcon,telnet,docker
RCON_DEFAULT_CONTAINER_ADDRESSES=
RCON_DEFAULT_CONTAINER_PASSWORDS=
